# Node modules
node_modules/

# Build output
src/
dist/
dist-obfuscated/
webpack.config.js
tsconfig.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tsbuildinfo

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo

# TypeScript-related
*.d.ts.map
